<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:fmis-data.xml
			classpath:fmis-security.xml
			classpath:fmis-service.xml
		</param-value>
	</context-param>
		
	<!-- 加载Spring上下文 -->	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 配置前端控制器 -->
	<servlet>
		<servlet-name>fmis</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<init-param>
			<description>WEB层的上下文配置路径(不指定,默认从WEB-INF下读取)</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:fmis-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>fmis</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>fmis</servlet-name>
		<url-pattern>*.rss</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>fmis</servlet-name>
		<url-pattern>*.xls</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>fmis</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
